# ROS 2 build artifacts
build/
install/
log/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Python packaging
*.egg-info/
.eggs/

# VS Code
.vscode/

# macOS / Linux
.DS_Store
*~

# Colcon
.colcon/

.env
*.log